---
import ProductCard from "../../components/products/ProductCard.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import MainLayaout from "../../layouts/MainLayaout.astro";
import type { GetStaticPaths } from "astro";

const jsonLd = { };

export const getStaticPaths = (async  () => {

  const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');

  const { results } = await resp.json() as PokemonListResponse;
  
  return results.map( ({ name, url }) => {
    const id = url.split('/').at(-2);
    
    return {
      params: { id: id },
      props: { name: name, url: url }
    }
  });
  
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const { name, url } = Astro.props;

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
---


<MainLayaout
  title="Title"
  description="Description"
	image='/iso_scanavini.svg'
	robots="index,follow"
	jsonLd={ jsonLd }
>
    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div>
      <a href="/">Regresar</a>
      <h1 class="capitalize text-5xl"> { name } </h1>
    </div>

    <ProductCard 
      url={ url }
      name={ name }
      isBig
    />

    <audio controls class="mt-5">
      <source src={audioSrc} type="audio/ogg">
      Tu navegador no soporta audio
    </audio>
  </section>
</MainLayaout>