---
import MainLayout from '../layouts/MainLayaout.astro';

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Comercial Scanavini Ltda.",
  "url": "https://www.scanavini.com",
  "logo": "https://www.scanavini.com/iso_scanavini.svg",
  "sameAs": [
    "https://www.facebook.com/scanaviniCL/", 
    "https://www.instagram.com/scanavini_cerraduras/",
		"https://www.linkedin.com/company/comercial-scanavini-limitada/about/",
		"https://www.youtube.com/@ScanaviniCerraduras"
  ]
};
---

<MainLayout
  title="Title"
  description="Description"
	image='/iso_scanavini.svg'
	robots="index,follow"
	jsonLd={ jsonLd }
>
  <h1 class="text-blue-500" >Hello World</h1>
</MainLayout>
