---
import MainLayout from '../layouts/MainLayaout.astro';
import ProductCard from '../components/products/ProductCard.astro';
import type { PokemonListResponse } from 'src/interfaces/pokemon-list.response';

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Comercial Scanavini Ltda.",
  "url": "https://www.scanavini.com",
  "logo": "https://www.scanavini.com/iso_scanavini.svg",
  "sameAs": [
    "https://www.facebook.com/scanaviniCL/", 
    "https://www.instagram.com/scanavini_cerraduras/",
		"https://www.linkedin.com/company/comercial-scanavini-limitada/about/",
		"https://www.youtube.com/@ScanaviniCerraduras"
  ]
};

const resp = await fetch('https://pokeapi.co/api/v2/pokemon');
const data = (await resp.json()) as PokemonListResponse;
---

<MainLayout
  title="Title"
  description="Description"
	image='/iso_scanavini.svg'
	robots="index,follow"
	jsonLd={ jsonLd }
>
  

  <h1>Listado</h1>

  <section
    aria-label="Listado de Pokémons"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
  >
    {data.results.map(({ name, url }) => <ProductCard name={name} url={url} />)}
  </section>
</MainLayout>
