---
import { FavoritePokemons } from "@components/products/FavoritePokemons";
import MainLayaout from "../../layouts/MainLayaout.astro";



const jsonLd = { };
---

<MainLayaout
  title="Title"
  description="Description"
	image='/iso_scanavini.svg'
	robots="index,follow"
	jsonLd={ jsonLd }
>
<h1>FAVORITOS</h1>

<FavoritePokemons client:only="react" />

</MainLayaout>